body {
  background-color: #567891;
  width: 500px;
}

h1 {
  color: white;
  font-family: "Helvetica";
}

h3 {
  color: white;
  font-family: "Helvetica";
}

.container {
  width: 450px;
  margin: 0 auto;
  background-color: #CCB299;
}