* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #56391d;
  background-image: url(#);
}

.name {
  font-family: "Marker felt";
  padding-top: 20px;
  padding-bottom: none;
  padding-left: 2px;
}

h3 {
  font-family: "Marker felt";
  padding-top: 20px;
  padding-bottom:;
  padding-right:;
  padding-left: 20px;
  color: #336600;
}

.container {
  width: 700px;
  height: 900px;
  margin-top: 30px;
  margin: auto;
  background-color: #d6c2ad;
  border-radius: 5px;
}
.navbar{
  color: black;
  height: 20px;
  width: 500px;
}

#lists a{
  font-family: "Helvetica";
  font-size: 20px;
}

header {
  display: block;
  height: 50px;
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #336600;
  clear: both;
}

header .logo {
  float: left;
  color: tan;
  font-family: Marker felt;
}

.header-container {
  width: 1024px;
  margin: auto;
}

nav li {
  list-style: none;
  float: left;
}

nav li a {
  color: tan;
}

nav li a:hover {
  color: #56391d; 
}

p{
  font-family: "Helvetica";
}
.p1 {
  padding-top: 20px;
  padding-bottom: 5pxpx;
  padding-left: 20px;
  padding-right: 5px;
}
.p2 {
  padding-top: none;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
}
.p3{
  padding-top: none;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
}
.p4{
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
}
.p5{
  padding-top: 20px;
  padding-bottom: none;
  padding-left: 40px;
  padding-right: 5px;
  font-family: "Marker felt";
  font-size: 22px;
}
.p6{
  padding-top: none;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 50px;
}
img{
  padding-left: 20px;
  padding-bottom: 10px;
    
}
a{
  text-decoration: none;
  color: #336600;
  font-size: 30px;
  padding-top: none;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
}